<div *ngIf="error">
  <p class="mensaje-sin-coincidencias-container">{{ error }}</p>
</div>

<table  class="rounded-table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Id</th>
      <th>Year</th>
      <th>Type</th>
      <th class="desaparecer-ancho-pequenyo">Poster</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let pelicula of datosRecibidos | paginate: {itemsPerPage: numeroDeFilas, currentPage: paginaActual}">
        <td>{{ pelicula.Title }}</td>
        <td>{{ pelicula.imdbID }}</td>
        <td>{{ pelicula.Year }}</td>
        <td>{{ pelicula.Type }}</td>
        <td class="desaparecer-ancho-pequenyo">
          <img src={{pelicula.Poster}} alt="" width="50" height="50" appImagenError>
        </td>
        <td>
          <button mat-icon-button color="accent" aria-label="Favoritos" (click)="enviarPeliculaId(pelicula.imdbID)">
            <mat-icon>favorite</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
</table>
<div class="controles-paginador-container">
  <pagination-controls
  (pageChange)="paginaActual = $event"
      previousLabel="Previous"
      nextLabel="Next"
  ></pagination-controls>
</div>
