.navbar, .navbar-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar{
  padding: 15px 0;
  background-color: #ffffff;
}
.navbar-container{
  gap: 10px
}
.navbar-link{
  text-decoration: none;
  color: black;
}
.link-activo{
  border-bottom: 1px solid red;
}
