.modal-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-fondo{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal{
  padding: 10px;
  width: 80%;
  background-color: white;
  z-index: 110;
}
.modal-cabezera{
  display: flex;
  justify-content: space-between;
}
.modal-icono-cerrar{
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;

}
.modal-form{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
}
.boton{
  min-width: 70px;
  max-width: 100px;
}
@media (max-width: 700px) {
  .modal-form{
    grid-template-columns: 1fr 1fr;

  }
}

@media (max-width: 700px) {
  .modal{
    width: 90%;
  }

}
