<button class="boton" (click)="mostrarFiltros()">Show Filters</button>
<section *ngIf="mostrarModalFiltros == true" class="modal-container">
  <div  class="modal-fondo" (click)="mostrarFiltros()"></div>
  <div class="modal">
    <div class="modal-cabezera">
      <h2>Filters</h2>
      <b class="modal-icono-cerrar" (click)="mostrarFiltros()">X</b>
    </div>
    <hr>
    <div class="modal-body">
      <form [formGroup]="parametrosFiltraje" (ngSubmit)="fitrar()">
        <div class="modal-form">
          <mat-form-field>
            <mat-label>Search by title</mat-label>
            <input matInput type="text" formControlName="Title">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Year</mat-label>
            <input matInput type="text" formControlName="Year">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Released</mat-label>
            <input matInput type="text" formControlName="Released">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Runtime</mat-label>
            <input matInput type="text" formControlName="Runtime">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Genre</mat-label>
            <input matInput type="text" formControlName="Genre">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Director</mat-label>
            <input matInput type="text" formControlName="Director">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Writer</mat-label>
            <input matInput type="text" formControlName="Writer">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Actors</mat-label>
            <input matInput type="text" formControlName="Actors">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Plot</mat-label>
            <input matInput type="text" formControlName="Plot">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Language</mat-label>
            <input matInput type="text" formControlName="Language">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Country</mat-label>
            <input matInput type="text" formControlName="Country">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by Awards</mat-label>
            <input matInput type="text" formControlName="Awards">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Search by imdbRating</mat-label>
            <input matInput type="text" formControlName="imdbRating">
          </mat-form-field>

          <mat-form-field>
            <mat-label>Type</mat-label>
            <select matNativeControl formControlName="Type">
              <option value="movie">Movie</option>
              <option value="series">Serie</option>
              <option value="episode">Episode</option>
            </select>
          </mat-form-field>
        </div>

        <button class="boton" type="submit">Filter</button>
      </form>
    </div>
  </div>
</section>
