<h1 class="favoritos-titulo">Favorites</h1>
<div class="filtros-container">
  <mat-form-field class="example-form-field">
    <mat-label>Search by any field</mat-label>
    <input matInput type="text" [(ngModel)]="filtroTexto">
    <button *ngIf="filtroTexto" matSuffix mat-icon-button aria-label="Clear" (click)="filtroTexto = ''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<app-visualizador-cards
  [datosRecibidos]="arrayPeliculasFavoritas"
  [filtroTexto]="filtroTexto"
></app-visualizador-cards>
