.cards-container{
  display: flex;
  gap: 5px;
  justify-content: center;
  margin: 10px 0;
}
.mensaje-sin-favoritos-container{
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 15px;
}
.favoritos-titulo{
  text-align: center;
}
.filtros-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
