.card{
  position:relative;
  min-width: 100%;
  display: flex;
}
.card-img{
  width: 300px;
  height: 400px;
  margin: auto;
}
.card-body{
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card-titulo{
  margin-bottom: 0;
}
.a{
  display: flex;
  gap:20px;
}

.a .card-datos:nth-child(2){
  padding: 7px;
  background-color: #2357e3;
  border-radius: 5px;
  color: white;
}
.card-genero{
  padding: 7px;
  background-color: rgba(170, 170, 170, 0.4);
  border-radius: 5px;
  width: fit-content;
}
.card-idioma{
  color: #2357e3;
  font-style: italic;
}
.card-descripcion{
  width: 100%;
  resize: none;
  border-radius: 5px;
}
.card-trofeo-img{
  width: 20px;
}
p{
  margin: 10px 0;
  display: flex;
  align-items: center;
}
