<h1 class="home-titulo">Search Movies, series or episodes</h1>
<div class="input-titulo-container">
  <mat-form-field class="example-form-field">
    <mat-label>Search by title</mat-label>
    <input matInput type="text" [(ngModel)]="titulo" (ngModelChange)="seleccionarPeliculas()">
    <button *ngIf="titulo" matSuffix mat-icon-button aria-label="Clear" (click)="titulo=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<app-datatable
  [datosRecibidos]="peliculas"
  [error]="errorDeBusqueda"
  (enviarPeliculaIdEmit) = "agregarAFavoritos($event)"
></app-datatable>

