<div class="notificacion-container" *ngIf="notificacion">
  <span>{{ notificacion }}</span>
  <span class="cerrar-notificacion" (click)="notificacion=''">X</span>

</div>
<h1></h1>
<mat-form-field class="example-form-field">
  <mat-label>Search by title</mat-label>
  <input matInput type="text" [(ngModel)]="titulo" (ngModelChange)="seleccionarPeliculas()">
  <button *ngIf="titulo" matSuffix mat-icon-button aria-label="Clear" (click)="titulo=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<app-datatable
  [CABEZERAS_DE_LA_TABLA]="CABEZERAS_DE_LA_TABLA"
  [datosRecibidos]="peliculas"
  [error]="errorDeBusqueda"
  (enviarPeliculaIdEmit) = "agregarAFavoritos($event)"
></app-datatable>

